# Step1. Read in the original dataset

In [1]:
# import useful libraries for data preprocessing
import numpy as np
import pandas as pd
import seaborn as sns
import os

Run this cell to check your current working directory. It should return the top folder "machine-learning-assisted-khovanov-homology"

In [5]:
os.getcwd()

'/mnt/c/Users/wuwj2/Desktop/jupyter/MAT_180_ML_Projects/machine-learning-assisted-khovanov-homology'

In [3]:
#Run this cell once if still in the notebooks folder.
#Note that running this command multiple times might get you too high in the directory tree so be 
#cautious running this cell
os.chdir("../")

In [4]:
# import functions from python(.py) files
from scripts.dataGeneration import getRandomWord, count_FP, count_TP

In [6]:
# read in data from the dataset
df_10000_9 = pd.read_excel("data/10000_9_dataset.xlsx")

df_10000_9

,Unnamed: 0,braid,free_part,torsion_part
0,0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{}
1,1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{}
2,2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}"
3,3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):..."
4,4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{}
...,...,...,...,...
9995,9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2..."
9996,9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{}
9997,9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{}
9998,9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{}
9999,9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}"

# Step2. Count the total number of freegoups of a braid

In [7]:
# vectorize the eval function
ev = np.vectorize(eval)

# count free_part of the dataset
ff = np.vectorize(count_FP)
df_10000_9['total_num_FP'] = ff(ev(df_10000_9['free_part']))

# count torsion_part of the dataset
ft = np.vectorize(count_TP)
df_10000_9['total_num_TP'] = ft(ev(df_10000_9['torsion_part']))

In [8]:
# view the dataset with added columns of total_num_FP and total_num_TP
df_10000_9

,Unnamed: 0,braid,free_part,torsion_part,total_num_FP,total_num_TP
0,0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0
1,1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0
2,2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}",4,1
3,3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):...",12,5
4,4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{},8,0
...,...,...,...,...,...,...
9995,9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2...",16,4
9996,9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{},4,0
9997,9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{},8,0
9998,9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{},2,0
9999,9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}",6,2

In [9]:
# drop the Unnamed: 0 column
df_10000_9 = df_10000_9.drop(columns=['Unnamed: 0'])

# store the dataset wtih total number of free_group and torsion_group
df_10000_9.to_csv('data/10000_9.csv')

# Step3. Count the total number of freegroups for a braid per row

In [10]:
# find maximum and minimum row number
find_max_row = float('-inf')
find_min_row = float('inf')
for index, a_row in df_10000_9.iterrows():
    #print(a_row.free_part)
    for a_key in eval(a_row.free_part):
       #print(a_key[0])
        if a_key[0] < find_min_row:
            find_min_row = a_key[0]
        if a_key[0] > find_max_row:
            find_max_row = a_key[0]

find_max_row, find_min_row

(27, -25)

In [11]:
from scripts.dataGeneration import count_FP_per_row

In [12]:
# count free part per row
cfpr = np.vectorize(count_FP_per_row)
add_row_count_to_df = cfpr(ev(df_10000_9['free_part']))

In [13]:
df_10000_9['total_num_FP_per_row'] = add_row_count_to_df

In [60]:
# (This is the original parse using for loop)

# # TODO: conver this to a resuable function
# add_row_count_to_df = []
# for index, a_row in df_10000_9.iterrows():
#     #print(a_row.free_part)
#     # add total number free groups per row for a braid as a new feature to the dataframe
#     a_total_num_FP_per_row = {}
#     for a_key in eval(a_row.free_part):
#         #print(a_key)
#         #print(eval(a_row.free_part)[a_key])
#         try:
#             a_total_num_FP_per_row[a_key[0]] += eval(a_row.free_part)[a_key]
#         except:
#             a_total_num_FP_per_row[a_key[0]] = eval(a_row.free_part)[a_key]
#     #print(a_total_num_FP_per_row)
#     add_row_count_to_df.append(a_total_num_FP_per_row)

# add_row_count_to_df
# df_10000_9['total_num_TP_per_row'] = add_row_count_to_df

In [14]:
df_10000_9

,braid,free_part,torsion_part,total_num_FP,total_num_TP,total_num_FP_per_row
0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 1, -1: 1}"
1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 1, -1: 1}"
2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}",4,1,"{1: 1, 3: 1, 5: 1, 9: 1}"
3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):...",12,5,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 2, -1: 3, 3: 1}"
4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{},8,0,"{-5: 1, -3: 1, -1: 2, 1: 2, 3: 1, 5: 1}"
...,...,...,...,...,...,...
9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2...",16,4,"{-7: 1, -3: 3, -1: 1, 1: 4, 3: 2, 5: 3, 7: 1, ..."
9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{},4,0,"{-6: 1, -4: 1, -2: 1, 0: 1}"
9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{},8,0,"{-3: 1, -1: 3, 1: 3, 3: 1}"
9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{},2,0,"{-1: 1, 1: 1}"
9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}",6,2,"{-15: 1, -11: 2, -7: 1, -5: 1, -3: 1}"

# Step4. Count the total number of freegroups for a braid per column

In [15]:
# find maximum and minimum column number
find_max_column = float('-inf')
find_min_column = float('inf')
for index, a_row in df_10000_9.iterrows():
    #print(a_row.free_part)
    for a_key in eval(a_row.free_part):
       #print(a_key[0])
        if a_key[1] < find_min_column:
            find_min_column = a_key[1]
        if a_key[1] > find_max_column:
            find_max_column = a_key[1]

find_max_column, find_min_column

(9, -9)

In [16]:
from scripts.dataGeneration import count_FP_per_col

In [17]:
# count free part per column
cfpr = np.vectorize(count_FP_per_col)
add_column_count_to_df = cfpr(ev(df_10000_9['free_part']))

In [18]:
df_10000_9['total_num_FP_per_column'] = add_column_count_to_df

In [19]:
df_10000_9

,braid,free_part,torsion_part,total_num_FP,total_num_TP,total_num_FP_per_row,total_num_FP_per_column
0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 1, -1: 1}","{-4: 2, -2: 4, 0: 2}"
1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 1, -1: 1}","{-4: 2, -2: 4, 0: 2}"
2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}",4,1,"{1: 1, 3: 1, 5: 1, 9: 1}","{0: 2, 2: 1, 3: 1}"
3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):...",12,5,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 2, -1: 3, 3: 1}","{-4: 1, -3: 2, -2: 2, -1: 2, 0: 3, 1: 1, 2: 1}"
4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{},8,0,"{-5: 1, -3: 1, -1: 2, 1: 2, 3: 1, 5: 1}","{-2: 2, 0: 4, 2: 2}"
...,...,...,...,...,...,...,...
9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2...",16,4,"{-7: 1, -3: 3, -1: 1, 1: 4, 3: 2, 5: 3, 7: 1, ...","{-3: 1, -2: 1, -1: 2, 0: 4, 1: 1, 2: 5, 4: 2}"
9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{},4,0,"{-6: 1, -4: 1, -2: 1, 0: 1}","{-2: 2, 0: 2}"
9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{},8,0,"{-3: 1, -1: 3, 1: 3, 3: 1}",{0: 8}
9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{},2,0,"{-1: 1, 1: 1}",{0: 2}
9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}",6,2,"{-15: 1, -11: 2, -7: 1, -5: 1, -3: 1}","{-5: 1, -4: 1, -3: 1, -2: 1, 0: 2}"

# Step5. Store the new dataset in a new csv file

In [20]:
# store the new dataset
df_10000_9.to_csv('data/10000_9_parsed.csv')

In [21]:
# test and read the new csv file
df_10000_9_parsed = pd.read_csv('data/10000_9_parsed.csv')
df_10000_9_parsed

,Unnamed: 0,braid,free_part,torsion_part,total_num_FP,total_num_TP,total_num_FP_per_row,total_num_FP_per_column
0,0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 1, -1: 1}","{-4: 2, -2: 4, 0: 2}"
1,1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 1, -1: 1}","{-4: 2, -2: 4, 0: 2}"
2,2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}",4,1,"{1: 1, 3: 1, 5: 1, 9: 1}","{0: 2, 2: 1, 3: 1}"
3,3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):...",12,5,"{-11: 1, -9: 1, -7: 2, -5: 2, -3: 2, -1: 3, 3: 1}","{-4: 1, -3: 2, -2: 2, -1: 2, 0: 3, 1: 1, 2: 1}"
4,4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{},8,0,"{-5: 1, -3: 1, -1: 2, 1: 2, 3: 1, 5: 1}","{-2: 2, 0: 4, 2: 2}"
...,...,...,...,...,...,...,...,...
9995,9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2...",16,4,"{-7: 1, -3: 3, -1: 1, 1: 4, 3: 2, 5: 3, 7: 1, ...","{-3: 1, -2: 1, -1: 2, 0: 4, 1: 1, 2: 5, 4: 2}"
9996,9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{},4,0,"{-6: 1, -4: 1, -2: 1, 0: 1}","{-2: 2, 0: 2}"
9997,9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{},8,0,"{-3: 1, -1: 3, 1: 3, 3: 1}",{0: 8}
9998,9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{},2,0,"{-1: 1, 1: 1}",{0: 2}
9999,9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}",6,2,"{-15: 1, -11: 2, -7: 1, -5: 1, -3: 1}","{-5: 1, -4: 1, -3: 1, -2: 1, 0: 2}"