In [10]:
# import useful libraries for data preprocessing
import numpy as np
import pandas as pd
import seaborn as sns

In [11]:
# change the current path for referencing
import sys
sys.path.append('../')

# import functions from python(.py) files
from scripts.dataGeneration import getRandomWord, count_FP, count_TP

In [12]:
import os
os.path.abspath(os.getcwd())

'/mnt/c/Users/12428/Documents/GitHub/MAT_180_ML_Projects/cecilia_nicole_wei/notebooks'

In [13]:
# read in data from the dataset
df_10000_9 = pd.read_excel(r"../data/10000_9_dataset.xlsx")

df_10000_9

,Unnamed: 0,braid,free_part,torsion_part
0,0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{}
1,1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{}
2,2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}"
3,3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):..."
4,4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{}
...,...,...,...,...
9995,9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2..."
9996,9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{}
9997,9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{}
9998,9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{}
9999,9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}"

In [14]:
# vectorize the eval function
ev = np.vectorize(eval)

# count free_part of the dataset
ff = np.vectorize(count_FP)
df_10000_9['total_num_FP'] = ff(ev(df_10000_9['free_part']))

# count torsion_part of the dataset
ft = np.vectorize(count_TP)
df_10000_9['total_num_TP'] = ft(ev(df_10000_9['torsion_part']))

In [15]:
# view the dataset with added columns of total_num_FP and total_num_TP
df_10000_9

,Unnamed: 0,braid,free_part,torsion_part,total_num_FP,total_num_TP
0,0,"[-2, 2, -3, 3, -2, -2, 1, -3, -3]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0
1,1,"[3, -1, -2, 2, -2, -2, -3, 3, -1]","{(-11, -4): 1, (-9, -4): 1, (-7, -2): 2, (-5, ...",{},8,0
2,2,"[1, -3, 2, 3, 2, 2, 1, 2, -1]","{(1, 0): 1, (3, 0): 1, (5, 2): 1, (9, 3): 1}","{(7, 3): {2: 1}}",4,1
3,3,"[-1, -1, 1, -1, 3, -2, -1, 3, -2]","{(-11, -4): 1, (-9, -3): 1, (-7, -3): 1, (-7, ...","{(-9, -3): {2: 1}, (-7, -2): {2: 1}, (-5, -1):...",12,5
4,4,"[1, -3, -2, 3, 1, 1, 2, -1, -3]","{(-5, -2): 1, (-3, -2): 1, (-1, 0): 2, (1, 0):...",{},8,0
...,...,...,...,...,...,...
9995,9995,"[2, 1, -1, 2, -3, 1, -3, 1, -3]","{(-7, -3): 1, (-3, -2): 1, (-3, -1): 2, (-1, 0...","{(-5, -2): {2: 1}, (-1, 0): {2: 2}, (3, 2): {2...",16,4
9996,9996,"[-1, 2, -1, 1, -1, 1, -1, -2, -1]","{(-6, -2): 1, (-4, -2): 1, (-2, 0): 1, (0, 0): 1}",{},4,0
9997,9997,"[1, -3, -1, -3, -2, -3, 2, 2, 3]","{(-3, 0): 1, (-1, 0): 3, (1, 0): 3, (3, 0): 1}",{},8,0
9998,9998,"[-2, 2, 3, -2, 3, 2, -1, -2, -3]","{(-1, 0): 1, (1, 0): 1}",{},2,0
9999,9999,"[-2, -1, -2, -2, 2, -3, -1, -1, -2]","{(-15, -5): 1, (-11, -4): 1, (-11, -3): 1, (-7...","{(-13, -4): {2: 1}, (-9, -2): {2: 1}}",6,2

In [16]:
# drop the Unnamed: 0 column
df_10000_9 = df_10000_9.drop(columns=['Unnamed: 0'])

# store the dataset wtih total number of free_group and torsion_group
df_10000_9.to_csv(r'../data/10000_9.csv')